.element {
    aspect-ratio: 1;
    width: 7rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 0.5rem;

    white-space: normal;
    word-break: break-word;
    overflow: hidden;
    box-sizing: border-box;
}
